@import url(./Theme.css);

:root {
  --add-vehicle-button-enable: var(--primary-blue);
  --add-vehicle-button-disable: var(--secondary-blue);
  --form-overlay: var(--form-overlay-color);
  --table-td-border: var(--table-td-border-color);
  --table-th-background: var(--table-th-background-color);
}

.add-vehicle-button {
  padding: 8px 15px;
  background-color: var(--add-vehicle-button-enable);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-vehicle-button:hover {
  background-color: var(--add-vehicle-button-disable);
}

.form-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--form-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.vehicle-table {
  width: 100%;
  border-collapse: collapse;
}

.vehicle-table th,
.vehicle-table td {
  border: 1px solid var(--table-td-border);
  padding: 8px;
  text-align: center;
}

.vehicle-table th {
  background-color: var(--table-th-background);
  font-weight: bold;
}
