@import url(./Theme.css);

:root {
  --underline-color: var(--primary-blue);
  --form-overlay: var(--form-overlay-color);
}

.underline-vehicle-number {
  text-decoration: underline;
  color: var(--underline-color);
  cursor: pointer;
}

.form-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--form-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}
