@import url(./Theme.css);

:root {
  --vehicle-number-color: var(--posco-light-blue);
  --form-overlay: var(--form-overlay-color);
  --button-enable: var(--primary-blue);
  --button-disable: var(--secondary-blue);
}

.vehicle-number {
  color: var(--vehicle-number-color);
  cursor: pointer;
  font-weight: bold;
}

.form-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--form-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.context-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.radio-container {
  display: inline-block;
  margin-right: 10px;
}

.update-button {
  margin-left: 10px;
  padding: 6px 13px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}
